@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; 
}

img{
  max-width: 100%;
}

a {
  text-decoration: none;
}

.profile-photo {
  width: 130px;
  height: 130px;
}

.socials .social-btn{
  color: #f8f9fa !important;
}

.socials .social-btn:hover{
  color: #d039fa !important;
}

.contents .card .card-img-top{
  height: 260px;
  object-fit: cover;
}